{% extends "base.html" %}
 
{% block content %}
    {% for post in object_list %}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                <article class="media content-section">
                    <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" >User: {{post.author}} - </a>
                        <small class="text-muted">{{post.date_posted}}</small>
                        <small class="text-muted">|| Category: {{post.category}}</small>
                        <a class="mr-2" href="{% url 'post-delete' post.pk %}">---DELETE---</a>
                        
                    </div>
                    <h2><a class="article-title" >{{post.title}}</a></h2>
                    <p class="article-content">{{ post.body | slice:":300" }}</p>

                    </div>
                </article>
            {% endif %}
        {% endif %}
    {% endfor %}

{% endblock content %}